/* styles.module.css */
.table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

.th, .td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.th {
    background-color: #f2f2f2;
}

.tr:nth-child(even) {
    background-color: #f2f2f2;
}

.tr:hover {
    background-color: #ddd;
}
.image {
    width: 100px; /* Set the desired width for the images */
    height: 100px; /* Set the desired height for the images */
    object-fit: cover; /* Ensure the image covers the specified dimensions */
cursor: pointer; /* Change cursor to pointer on hover */
    transition: transform 0.3s ease; /* Add a smooth transition effect */
}

.image:hover {
    transform: scale(1.5); /* Scale the image to 1.5 times its original size on hover */
}
/* styles.module.css */
/* ... (other styles) ... */

.container {
  margin: 20px;
}

.filterInput {
  margin-bottom: 10px;
  padding: 8px;
  width: 100%;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.pagination {
  margin-top: 20px;
  display: flex;
  justify-content: center;
}

.paginationButton {
  margin: 0 5px;
  padding: 8px 16px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.paginationButton:hover {
  background-color: #0056b3;
}
